# Your Title Here

**Name(s)**: Ryan Wei, Eric Teng

**Website Link**: (your website link)

In [1]:
import pandas as pd
import numpy as np
import sys

import plotly.express as px
pd.options.plotting.backend = 'plotly'

from lec_utils import * # Feel free to uncomment and use this. It'll make your plotly graphs look like ours in lecture!

## Step 1: Introduction

In [27]:
# TODO 
# are teams with VI or Jinx more likely to win??????????????????
games = pd.read_csv('2022.csv')

In [28]:
games.head()

,gameid,datacompleteness,url,league,...,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,ESPORTSTMNT01_2690210,complete,NaN,LCKC,...,1.0,0.0,2.0,0.0
1,ESPORTSTMNT01_2690210,complete,NaN,LCKC,...,2.0,1.0,5.0,1.0
2,ESPORTSTMNT01_2690210,complete,NaN,LCKC,...,0.0,3.0,4.0,3.0
3,ESPORTSTMNT01_2690210,complete,NaN,LCKC,...,2.0,3.0,4.0,0.0
4,ESPORTSTMNT01_2690210,complete,NaN,LCKC,...,2.0,0.0,7.0,2.0

## Step 2: Data Cleaning and Exploratory Data Analysis

In [29]:
# TODO: Data Clean
# for x in games.columns:
#     print(x)
# np.set_printoptions(threshold=sys.maxsize)
# print(list(games.columns))


# we need pick 1-5 and result
games['result'].unique()

array([0, 1])

In [57]:
# games.loc[:, ['pick1', 'pick2','pick3','pick4','pick5','result']]
# def func(x):
#     columns = ['pick1', 'pick2','pick3','pick4','pick5','result']
#     # print(x)
#     for col in columns:
#         if pd.isna(x[col]):
#             return None
#     return x totally unecessary

#change non vi/jinx games to nan to remove
games_edited = games.copy()
games_edited['pick1'] = games_edited['pick1'].transform(lambda x : np.where((x != "Jinx") & (x != "Vi"), pd.NA, x))
games_edited['pick2'] = games_edited['pick2'].transform(lambda x : np.where((x != "Jinx") & (x != "Vi"), pd.NA, x))
games_edited['pick3'] = games_edited['pick3'].transform(lambda x : np.where((x != "Jinx") & (x != "Vi"), pd.NA, x))
games_edited['pick4'] = games_edited['pick4'].transform(lambda x : np.where((x != "Jinx") & (x != "Vi"), pd.NA, x))
games_edited['pick5'] = games_edited['pick5'].transform(lambda x : np.where((x != "Jinx") & (x != "Vi"), pd.NA, x))

#remove all games with nan values or no vi/jinx
games_edited = games_edited.dropna(how='all', subset=['pick1','pick2','pick3','pick4','pick5'])
games_edited = games_edited.dropna(subset=['result'])


games_edited[['pick1','pick2','pick3','pick4','pick5','result']]

       pick1 pick2 pick3 pick4 pick5  result
11      Jinx  <NA>  <NA>  <NA>  <NA>       1
34      Jinx  <NA>  <NA>  <NA>  <NA>       1
58      Jinx  <NA>  <NA>  <NA>  <NA>       1
...      ...   ...   ...   ...   ...     ...
150562  <NA>    Vi  <NA>  <NA>  <NA>       1
150575  <NA>    Vi  <NA>  <NA>  <NA>       0
150587  <NA>    Vi  <NA>  <NA>  <NA>       1

[3861 rows x 6 columns]

In [ ]:
# TODO: Analysis, univariate/bivariate

In [ ]:
# TODO: Aggregates

In [ ]:
#TODO: Imputation

## Step 3: Framing a Prediction Problem

In [ ]:
# TOD

## Step 4: Baseline Model

In [ ]:
# TODO

## Step 5: Final Model

In [ ]:
# TODO